/vendor
/node_modules
.env
.env.backup
/storage/logs/*
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
*.log
public/uploads/
public/debug_*.txt
public/Test.PNG
.DS_Store
**/.DS_Store
Homestead.json
Homestead.yaml
/.idea
/.vscode
npm-debug.log
yarn-error.log
